@import 'settings';
@import "foundation";
@include foundation-everything;
@import "font-awesome";
@import "motion-ui";
body {
  h1{
    color: black;
    background: yellow;
  }
  p{
    color: yellow;
  }
  ul{
    li{
      color:yellow;
    }
  }
}
