@import 'settings';
@import "foundation";
@include foundation-everything;
@import "font-awesome";
body {
  h1{
    color: black;
    background: blue;
  }
  p{
    color: grey;
  }
  ul{
    li{
      color:blue;
    }
  }
}